.gal-sec
{
    max-width: 100%;
}
.gallery
{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    grid-gap: 70px;
    padding-top: 12%; 
    padding-left: 2%;
    max-width: 100%;
    @media screen and (max-width:1280px) {
        grid-gap: 90px;
        padding-left: 4%;
        padding-right: 4%;
    }
    @media screen and (max-width:885px) {
        grid-gap: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }
    @media screen and (max-width:766px) {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
}
.gallery .img-card img
{
    width: 600px;
    height: 800px;
    max-width: 100%;
    object-fit: cover;
    @media screen and (max-width:1200px) {
        width: 500px;
        height: 700px;
    }
}
.below-sect
{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.2%;
}
.below-sect h1
{
    padding-left: 2%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 2.2rem;
}
.below-sect i
{
    padding-left: 3.2%;
}

.below-sect .stu
{
    text-decoration: none;
    color: rgb(0, 0, 0);
}